.head
  .row
    .col-xs-6
      a.activity_logo#activity_logo2(href="#")
        img.activity_logo_le#activity_logo_le2(src="/assets/images/activity_logo2.png")
    .col-xs-6
      a.activity_people_img#activity_people_img(href="#")
        img.activity_people_img_le#activity_people_img_le(src="/assets/images/activity_new_1.png")
