extends layout

block content
  div.index
    a.span_button(href="#")
    img.background(src='/assets/images/background.png')
    div.tag
    div.tag1
    div.tag2
    a.tag_p1.no_hover.no_focus(href="#")  今日看点
    a.tag_p2.no_hover.no_focus(href="#")  最新推荐
    div.list
  .row
    .col-xs-8
      a(href="#")
        img.left(src="/assets/images/activity_new_1.png")
      p.font2.margin_left_30
        span.color_black 一边陶醉 一边自嘲 
      p.font2.margin_left_30
        span 2天前
  .row
    .margin_10
      p.font1 好一个万圣节，让我们一起鬼话连篇吧
  .row
    p.font6.margin_10 
      | 十月的尾巴是魔鬼的季节，吸血鬼不再用十字架治疗失眠，僵尸也无需用众生鲜血宣泄无尽的孤寂，科学怪人享受着哥特小说的浪漫，女巫也沉浸在适合自己的恋爱冬眠。一年一度的万圣节，我们一起玩个游戏，用你心灵的深处的阴暗故事，向这个世界祝福。即使你是胆小鬼也请点亮你的南瓜灯，一起参与万圣节狂欢party吧
  fieldset.publish_save_contact_list.margin_20


  .row
    .col-xs-8
      a(href="#")
        img.left(src="/assets/images/activity_new_1.png")
      p.font2.margin_left_30
        span.color_black 一边陶醉 一边自嘲 
      p.font2.margin_left_30
        span 2天前
  .row
    .margin_10
      p.font1 往事•贵州乡下的苦茶和喝不出味道的美酒
  .row
    p.font6.margin_10 
      | 贵州乡下的学校到我们走后5年才有了自来水，早以前是要去山上挑的。学校附近有出泉水的井，路却远，只去过一次。其他时候是到学校所在的山坡下挑水，那里...

  img.activity_a_edit_img_beautiful_pic(src="/assets/images/activity_b.png")
  fieldset.publish_save_contact_list.margin_20


  .row
    .col-xs-8
      a(href="#")
        img.left(src="/assets/images/activity_new_1.png")
      p.font2.margin_left_30
        span.color_black 一边陶醉 一边自嘲 
      p.font2.margin_left_30
        span 2天前
  img.activity_a_edit_img_beautiful_pic(src="/assets/images/activity_a.jpg")

  .row
    .margin_10
      p.font1 往事•贵州乡下的苦茶和喝不出味道的美酒
  .row
    p.font6.margin_10 
      | 贵州乡下的学校到我们走后5年才有了自来水，早以前是要去山上挑的。学校附近有出泉水的井，路却远，只去过一次。其他时候是到学校所在的山坡下挑水，那里...
  fieldset.publish_save_contact_list.margin_20
  .row
    .center.pointer.margin_left_10
       a 帮助
    .center.pointer.margin_left_10
       a 法律声明
    .center.pointer.margin_left_10
       a 关于乐活网
  .row.font4.center.color_gray
    p 沪备案：RSIT212335

block page_script
  script(type="text/javascript", src="/javascripts/happy.index.js?v=20150324")
