extends layout
//- extends header
block header
  .head
    .row
      .col-xs-2
        a.activity_logo#activity_logo2(href="#")
          img.activity_logo_le#activity_logo_le2(src="/assets/images/activity_logo2.png")
      .col-xs-8.activity_a_tag
        span.activity_a_span 发布新乐活
        button.btn.btn-small.activity_a_success 保存
        button.btn.btn-small.activity_a_cancel 
          i.fa.fa-times(style="color:gray")
      .col-xs-2
        a.activity_people_img#activity_people_img(href="#")
          img.activity_people_img_le#activity_people_img_le(src="/assets/images/activity_new_1.png")

block content
  #fullscreen-overlay.fullscreen-overlay(style="display:none")
  div.publish_img#publish_img
    div.button_p
      p.add_photo  +
      p  增加一张美图
      .hiddenfile
        form(id="frmUploadPic", method="post", action="/gridfs/put", enctype="multipart/form-data", data-ajax="false")
          input#file4upload(type="file", data-clear-btn="false", name="qqfile", accept="image/*", capture)

  div#editor
    h1.editor_head 输入你的标题
    h3.editor_mood 写下你的文字
  div.publish_content
    h3.activity_h3 我想增加一个
    .button_group
      .col-xs-2
        button.btn.btn-small(type="button") 投票
      .col-xs-2
        button.btn.btn-small(type="button") 聚会
      .col-xs-3
        button.btn.btn-small(type="button") 一起吃饭
      .col-xs-3
        button.btn.btn-small(type="button") 组织出游


block page_script
  link(href='/assets/js/pen/pen.css', rel='stylesheet', type='text/css')
  link(href='/assets/js/dante/dante_editor.css', rel='stylesheet', type='text/css')
  script(type="text/javascript", src="/assets/js/pen/pen.js")
  script(type="text/javascript", src="/assets/js/pen/markdown.js")
  script(type="text/javascript", src="/assets/js/dante/dante_editor.js")
  script(type="text/javascript", src="/assets/thirdjs/deps.js")
  script(src='/assets/js/bb/lodash.min.js', type='text/javascript')
  script(src='/assets/js/bb/backbone-min.js', type='text/javascript')
  script(src='/assets/thirdjs/jquery.sprintf.js', type='text/javascript')
  script(src='/assets/thirdjs/jquery.canvasResize.js', type='text/javascript')
  script(src='/assets/thirdjs/jquery.exif.js', type='text/javascript')
  script(src='/assets/js/bb/handlebars-v2.0.0.js', type='text/javascript')

  script(type="text/javascript", src="/javascripts/happy.activity.publish.js?v=20150325")
